@charset "UTF-8";

	#inputArea{
		width:100%;
		height:160px;
		background-color:#F8F8F8;
	}
	
	#infoInputArea{
		height:120px;
	}
	
	#tagContainer{
		border:1px solid black;
		height:30px;
		margin-top:10px;
		display:flex;
	}
	
	#thumbContainer{
		border:1px solid blue;
		height:30px;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	#tagSelectContainer span{
	 border:1px solid blue;
	}
	
	#mapContainer{
		border:1px solid red;
		height:30px;
	}
	
	#submitArea{
		margin-left:10px;
		margin-right:10px;
	}
	
	#submitLeft{
		display:inline-block;
		float:left;
	}
	
	#submitRight{
		display:inline-block;
		float:right;
	}
	
	.tg{
		border:1px solid blue;
		margin-left:5px;
	}
	
	.inputFileBtn{
	  padding: 1px 10px;
	  background-color:rgb(12, 186, 243);
	  border-radius: 4px;
	  color: white;
	  cursor: pointer;
	}
	
	.viewFileBtn{
	  padding: 1px 10px;
	  background-color:#F1C40F;
	  border-radius: 4px;
	  color: white;
	}